<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RogerWaters.RealTimeDb.TestClient.Properties.Settings.SomeDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=SomeDB;Integrated Security=True;Connection Timeout=160"
            providerName="System.Data.SqlClient" />
        <add name="RogerWaters.RealTimeDb.TestClient.Properties.Settings.tpccConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=tpcc;Integrated Security=True;Connection Timeout=160"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
